@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import "tailwindcss";
body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  background-color: #000;
  color: #fff;
}
a {
  text-decoration: underline;
  transition: color 0.2s;
}
a:hover {
  color: #7f5af0; /* highlight color */
}